Repository rapidsai/cuvs-lucene, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-java-codeowners, @rapidsai/cuvs-python-codeowners, @rapidsai/cuvs-rust-codeowners, @rapidsai/cuvs-docs-codeowners, @rapidsai/cuvs-build-codeowners, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuvs-cpp-codeowners
examples/cpp/      @rapidsai/cuvs-cpp-codeowners
examples/c/        @rapidsai/cuvs-cpp-codeowners

#java code owners
java/              @rapidsai/cuvs-java-codeowners
examples/java/     @rapidsai/cuvs-java-codeowners

#python code owners
python/            @rapidsai/cuvs-python-codeowners

#rust code owners
rust/              @rapidsai/cuvs-rust-codeowners
examples/rust/     @rapidsai/cuvs-rust-codeowners

# docs code owners
docs/              @rapidsai/cuvs-docs-codeowners
README.md	   @rapidsai/cuvs-docs-codeowners
CONTRIBUTING.md	   @rapidsai/cuvs-docs-codeowners
LICENSE		   @rapidsai/cuvs-docs-codeowners

#cmake code owners
pom.xml                       @rapidsai/cuvs-build-codeowners

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners

# packaging code owners
/.pre-commit-config.yaml @rapidsai/packaging-codeowners


# src/			 @rapidsai/cuvs-java-codeowners

Readme update: change cuda version and link
  README.md
Owners: @rapidsai/cuvs-docs-codeowners

feat: add ops-bot config
  .github/ops-bot.yaml
Owners: @rapidsai/ci-codeowners

Add the Spotless Maven plugin (and other initial changes) (#2)
  .gitignore
  README.md
  license-header.txt
  pom.xml
  src/main/java/org/apache/lucene/sandbox/vectorsearch/PerLeafCuVSKnnCollector.java
  src/test/java/org/apache/lucene/sandbox/vectorsearch/TestCuVSVectorsFormat.java
Owners: @rapidsai/cuvs-docs-codeowners, @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-java-codeowners

Update package names
  pom.xml
  src/main/java/com/nvidia/cuvs/lucene/CuVSCodec.java
  src/main/java/com/nvidia/cuvs/lucene/CuVSFieldWriter.java
  src/main/java/com/nvidia/cuvs/lucene/CuVSIndex.java
  src/main/java/com/nvidia/cuvs/lucene/CuVSKnnFloatVectorQuery.java
  src/main/java/com/nvidia/cuvs/lucene/CuVSSegmentFile.java
  src/main/java/com/nvidia/cuvs/lucene/CuVSVectorsFormat.java
  src/main/java/com/nvidia/cuvs/lucene/CuVSVectorsReader.java
  src/main/java/com/nvidia/cuvs/lucene/CuVSVectorsWriter.java
  src/main/java/com/nvidia/cuvs/lucene/FilterCuVSProvider.java
  src/main/java/com/nvidia/cuvs/lucene/FilterCuVSServiceProvider.java
  src/main/java/com/nvidia/cuvs/lucene/IndexInputInputStream.java
  src/main/java/com/nvidia/cuvs/lucene/IndexOutputOutputStream.java
  src/main/java/com/nvidia/cuvs/lucene/PerLeafCuVSKnnCollector.java
  src/main/java/com/nvidia/cuvs/lucene/package-info.java
  src/test/java/com/nvidia/cuvs/lucene/TestCuVS.java
  src/test/java/com/nvidia/cuvs/lucene/TestCuVSVectorsFormat.java
  src/test/java/com/nvidia/cuvs/lucene/TestIndexOutputOutputStream.java
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-java-codeowners

Update package names (#9)
  pom.xml
  src/main/java/com/nvidia/cuvs/lucene/CuVSCodec.java
  src/main/java/com/nvidia/cuvs/lucene/CuVSFieldWriter.java
  src/main/java/com/nvidia/cuvs/lucene/CuVSIndex.java
  src/main/java/com/nvidia/cuvs/lucene/CuVSKnnFloatVectorQuery.java
  src/main/java/com/nvidia/cuvs/lucene/CuVSSegmentFile.java
  src/main/java/com/nvidia/cuvs/lucene/CuVSVectorsFormat.java
  src/main/java/com/nvidia/cuvs/lucene/CuVSVectorsReader.java
  src/main/java/com/nvidia/cuvs/lucene/CuVSVectorsWriter.java
  src/main/java/com/nvidia/cuvs/lucene/FilterCuVSProvider.java
  src/main/java/com/nvidia/cuvs/lucene/FilterCuVSServiceProvider.java
  src/main/java/com/nvidia/cuvs/lucene/IndexInputInputStream.java
  src/main/java/com/nvidia/cuvs/lucene/IndexOutputOutputStream.java
  src/main/java/com/nvidia/cuvs/lucene/PerLeafCuVSKnnCollector.java
  src/main/java/com/nvidia/cuvs/lucene/package-info.java
  src/test/java/com/nvidia/cuvs/lucene/TestCuVS.java
  src/test/java/com/nvidia/cuvs/lucene/TestCuVSVectorsFormat.java
  src/test/java/com/nvidia/cuvs/lucene/TestIndexOutputOutputStream.java
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-java-codeowners

Replace Dataset with CuVSMatrix and other API compatibility updates
  src/main/java/com/nvidia/cuvs/lucene/CuVSVectorsReader.java
  src/main/java/com/nvidia/cuvs/lucene/CuVSVectorsWriter.java
  src/main/java/com/nvidia/cuvs/lucene/FilterCuVSProvider.java
Owners: @rapidsai/cuvs-java-codeowners

CuVS-Java version update in the pom file
  pom.xml
Owners: @rapidsai/cuvs-build-codeowners

Ignore byte vector encoding tests (as we do not support them)
  src/main/java/com/nvidia/cuvs/lucene/CuVSVectorsReader.java
  src/main/resources/META-INF/services/org.apache.lucene.codecs.KnnVectorsFormat
  src/test/java/com/nvidia/cuvs/lucene/TestCuVSVectorsFormat.java
Owners: @rapidsai/cuvs-java-codeowners

Update readme file
  README.md
Owners: @rapidsai/cuvs-docs-codeowners

Update readme file
  README.md
Owners: @rapidsai/cuvs-docs-codeowners

Remove commented code
  src/main/java/com/nvidia/cuvs/lucene/CuVSCodec.java
  src/main/java/com/nvidia/cuvs/lucene/CuVSSegmentFile.java
  src/main/java/com/nvidia/cuvs/lucene/CuVSVectorsReader.java
  src/main/java/com/nvidia/cuvs/lucene/CuVSVectorsWriter.java
  src/test/java/com/nvidia/cuvs/lucene/TestCuVS.java
  src/test/java/com/nvidia/cuvs/lucene/TestCuVSVectorsFormat.java
  src/test/java/com/nvidia/cuvs/lucene/TestIndexOutputOutputStream.java
Owners: @rapidsai/cuvs-java-codeowners

Updates to adapt with cuVS-Java API changes (#10)
  README.md
  pom.xml
  src/main/java/com/nvidia/cuvs/lucene/CuVSCodec.java
  src/main/java/com/nvidia/cuvs/lucene/CuVSSegmentFile.java
  src/main/java/com/nvidia/cuvs/lucene/CuVSVectorsReader.java
  src/main/java/com/nvidia/cuvs/lucene/CuVSVectorsWriter.java
  src/main/java/com/nvidia/cuvs/lucene/FilterCuVSProvider.java
  src/main/resources/META-INF/services/org.apache.lucene.codecs.KnnVectorsFormat
  src/test/java/com/nvidia/cuvs/lucene/TestCuVS.java
  src/test/java/com/nvidia/cuvs/lucene/TestCuVSVectorsFormat.java
  src/test/java/com/nvidia/cuvs/lucene/TestIndexOutputOutputStream.java
Owners: @rapidsai/cuvs-docs-codeowners, @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-java-codeowners

ENH ignore mac metadata files in gitignore
  .gitignore
Owners: none

FEA First version of CI files
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .gitignore
  VERSION
  build.sh
  ci/build_java.sh
  ci/release/update-version.sh
  ci/test_java.sh
  dependencies.yaml
Owners: @rapidsai/ci-codeowners

FEA add copy-pr-bot
  .github/copy-pr-bot.yaml
Owners: @rapidsai/ci-codeowners

Refactor merge to call CAGRA's merge(), implement CAGRA prefiltering
  pom.xml
  src/main/java/com/nvidia/cuvs/lucene/CuVSKnnFloatVectorQuery.java
  src/main/java/com/nvidia/cuvs/lucene/CuVSVectorsFormat.java
  src/main/java/com/nvidia/cuvs/lucene/CuVSVectorsReader.java
  src/main/java/com/nvidia/cuvs/lucene/CuVSVectorsWriter.java
  src/main/java/com/nvidia/cuvs/lucene/FilterCuVSProvider.java
  src/test/java/com/nvidia/cuvs/lucene/TestCuVSDeletedDocuments.java
  src/test/java/com/nvidia/cuvs/lucene/TestCuVSGaps.java
  src/test/java/com/nvidia/cuvs/lucene/TestCuVSRandomizedVectorSearch.java
  src/test/java/com/nvidia/cuvs/lucene/TestCuVSVectorsFormat.java
  src/test/java/com/nvidia/cuvs/lucene/TestMerge.java
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-java-codeowners

Merge pull request #12 from dantegd/fea-add-ci
  .github/copy-pr-bot.yaml
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .gitignore
  VERSION
  build.sh
  ci/build_java.sh
  ci/release/update-version.sh
  ci/test_java.sh
  dependencies.yaml
Owners: @rapidsai/ci-codeowners

FIX small update to update-version
  ci/release/update-version.sh
Owners: @rapidsai/ci-codeowners

FIX make .sh files executable
  build.sh
  ci/build_java.sh
  ci/release/update-version.sh
  ci/test_java.sh
Owners: @rapidsai/ci-codeowners

Handle CAGRA merge with deletions and code cleanup
  pom.xml
  src/main/java/com/nvidia/cuvs/lucene/CuVSKnnFloatVectorQuery.java
  src/main/java/com/nvidia/cuvs/lucene/CuVSVectorsFormat.java
  src/main/java/com/nvidia/cuvs/lucene/CuVSVectorsReader.java
  src/main/java/com/nvidia/cuvs/lucene/CuVSVectorsWriter.java
  src/main/java/com/nvidia/cuvs/lucene/FilterCuVSProvider.java
  src/test/java/com/nvidia/cuvs/lucene/TestCuVSDeletedDocuments.java
  src/test/java/com/nvidia/cuvs/lucene/TestCuVSGaps.java
  src/test/java/com/nvidia/cuvs/lucene/TestCuVSRandomizedVectorSearch.java
  src/test/java/com/nvidia/cuvs/lucene/TestCuVSVectorsFormat.java
  src/test/java/com/nvidia/cuvs/lucene/TestIndexOutputOutputStream.java
  src/test/java/com/nvidia/cuvs/lucene/TestUtils.java
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-java-codeowners

Code refactoring
  src/main/java/com/nvidia/cuvs/lucene/CuVSIndex.java
  src/main/java/com/nvidia/cuvs/lucene/CuVSVectorsReader.java
  src/main/java/com/nvidia/cuvs/lucene/CuVSVectorsWriter.java
  src/main/java/com/nvidia/cuvs/lucene/Utils.java
  src/test/java/com/nvidia/cuvs/lucene/TestMerge.java
Owners: @rapidsai/cuvs-java-codeowners

Adding tests for BF and CAG+BF merge
  src/main/java/com/nvidia/cuvs/lucene/CuVSVectorsWriter.java
  src/test/java/com/nvidia/cuvs/lucene/TestMerge.java
Owners: @rapidsai/cuvs-java-codeowners

Slight fix to IntStream usage
  src/main/java/com/nvidia/cuvs/lucene/CuVSVectorsWriter.java
Owners: @rapidsai/cuvs-java-codeowners

Move createFloatMatrix to Utils
  src/main/java/com/nvidia/cuvs/lucene/CuVSVectorsWriter.java
  src/main/java/com/nvidia/cuvs/lucene/Utils.java
Owners: @rapidsai/cuvs-java-codeowners

Refactor merge to call CAGRA's merge(), implement CAGRA prefiltering (#14)
  src/main/java/com/nvidia/cuvs/lucene/CuVSIndex.java
  src/main/java/com/nvidia/cuvs/lucene/CuVSKnnFloatVectorQuery.java
  src/main/java/com/nvidia/cuvs/lucene/CuVSVectorsReader.java
  src/main/java/com/nvidia/cuvs/lucene/CuVSVectorsWriter.java
  src/main/java/com/nvidia/cuvs/lucene/Utils.java
  src/test/java/com/nvidia/cuvs/lucene/TestCuVSDeletedDocuments.java
  src/test/java/com/nvidia/cuvs/lucene/TestCuVSGaps.java
  src/test/java/com/nvidia/cuvs/lucene/TestCuVSRandomizedVectorSearch.java
  src/test/java/com/nvidia/cuvs/lucene/TestCuVSVectorsFormat.java
  src/test/java/com/nvidia/cuvs/lucene/TestIndexOutputOutputStream.java
  src/test/java/com/nvidia/cuvs/lucene/TestMerge.java
  src/test/java/com/nvidia/cuvs/lucene/TestUtils.java
Owners: @rapidsai/cuvs-java-codeowners

Cagra to HNSW serialization and searching feature
  .gitignore
  pom.xml
  src/main/java/com/nvidia/cuvs/lucene/CuVSCPUSearchCodec.java
  src/main/java/com/nvidia/cuvs/lucene/CuVSVectorsFormat.java
  src/main/java/com/nvidia/cuvs/lucene/CuVSVectorsWriter.java
  src/main/java/com/nvidia/cuvs/lucene/OnHeapHnswGraph.java
  src/main/java/com/nvidia/cuvs/lucene/Utils.java
  src/main/resources/META-INF/services/org.apache.lucene.codecs.Codec
  src/test/java/com/nvidia/cuvs/lucene/TestCagraToHnswSerializationAndSearch.java
  src/test/java/com/nvidia/cuvs/lucene/TestMerge.java
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-java-codeowners

Codec, format, reader, and writer separation
  src/main/java/com/nvidia/cuvs/lucene/CuVSSegmentFile.java
  src/main/java/com/nvidia/cuvs/lucene/GPUBuiltHnswGraph.java
  src/main/java/com/nvidia/cuvs/lucene/GPUFieldWriter.java
  src/main/java/com/nvidia/cuvs/lucene/GPUIndex.java
  src/main/java/com/nvidia/cuvs/lucene/GPUKnnFloatVectorQuery.java
  src/main/java/com/nvidia/cuvs/lucene/GPUPerLeafCuVSKnnCollector.java
  src/main/java/com/nvidia/cuvs/lucene/GPUSearchCodec.java
  src/main/java/com/nvidia/cuvs/lucene/GPUVectorsFormat.java
  src/main/java/com/nvidia/cuvs/lucene/GPUVectorsReader.java
  src/main/java/com/nvidia/cuvs/lucene/GPUVectorsWriter.java
  src/main/java/com/nvidia/cuvs/lucene/HNSWSearchCodec.java
  src/main/java/com/nvidia/cuvs/lucene/HNSWVectorsFormat.java
  src/main/java/com/nvidia/cuvs/lucene/HNSWVectorsWriter.java
  src/main/java/com/nvidia/cuvs/lucene/Utils.java
  src/main/resources/META-INF/services/org.apache.lucene.codecs.Codec
  src/main/resources/META-INF/services/org.apache.lucene.codecs.KnnVectorsFormat
  src/test/java/com/nvidia/cuvs/lucene/TestCagraToHnswSerializationAndSearch.java
  src/test/java/com/nvidia/cuvs/lucene/TestCuVSDeletedDocuments.java
  src/test/java/com/nvidia/cuvs/lucene/TestCuVSGaps.java
  src/test/java/com/nvidia/cuvs/lucene/TestCuVSRandomizedVectorSearch.java
  src/test/java/com/nvidia/cuvs/lucene/TestCuVSVectorsFormat.java
  src/test/java/com/nvidia/cuvs/lucene/TestMerge.java
Owners: @rapidsai/cuvs-java-codeowners

Code refactoring - refinement, simplification, and cleanup.
  pom.xml
  src/main/java/com/nvidia/cuvs/lucene/GPUBuiltHnswGraph.java
  src/main/java/com/nvidia/cuvs/lucene/GPUIndex.java
  src/main/java/com/nvidia/cuvs/lucene/GPUSearchCodec.java
  src/main/java/com/nvidia/cuvs/lucene/GPUVectorsWriter.java
  src/main/java/com/nvidia/cuvs/lucene/HNSWSearchCodec.java
  src/main/java/com/nvidia/cuvs/lucene/HNSWVectorsFormat.java
  src/main/java/com/nvidia/cuvs/lucene/HNSWVectorsWriter.java
  src/main/java/com/nvidia/cuvs/lucene/IndexOutputOutputStream.java
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-java-codeowners

Versioning in Codecs, Formats, Readers, and Writers
  src/main/java/com/nvidia/cuvs/lucene/CuVS2510GPUSearchCodec.java
  src/main/java/com/nvidia/cuvs/lucene/CuVS2510GPUVectorsFormat.java
  src/main/java/com/nvidia/cuvs/lucene/CuVS2510GPUVectorsReader.java
  src/main/java/com/nvidia/cuvs/lucene/CuVS2510GPUVectorsWriter.java
  src/main/java/com/nvidia/cuvs/lucene/Lucene101AcceleratedHNSWCodec.java
  src/main/java/com/nvidia/cuvs/lucene/Lucene99AcceleratedHNSWVectorsFormat.java
  src/main/java/com/nvidia/cuvs/lucene/Lucene99AcceleratedHNSWVectorsWriter.java
  src/main/java/com/nvidia/cuvs/lucene/Utils.java
  src/main/resources/META-INF/services/org.apache.lucene.codecs.Codec
  src/main/resources/META-INF/services/org.apache.lucene.codecs.KnnVectorsFormat
  src/test/java/com/nvidia/cuvs/lucene/TestCagraToHnswSerializationAndSearch.java
  src/test/java/com/nvidia/cuvs/lucene/TestCuVSDeletedDocuments.java
  src/test/java/com/nvidia/cuvs/lucene/TestCuVSGaps.java
  src/test/java/com/nvidia/cuvs/lucene/TestCuVSRandomizedVectorSearch.java
  src/test/java/com/nvidia/cuvs/lucene/TestCuVSVectorsFormat.java
  src/test/java/com/nvidia/cuvs/lucene/TestMerge.java
Owners: @rapidsai/cuvs-java-codeowners
